<!DOCTYPE html>
<html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content = "1200; url=http://localhost/nursing/profile_hospital.html#">
	<title>Job for sure</title>
	<link rel="icon" href="image/favicon.png">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
	<meta property="og:title" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">

	<!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">

	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- CSS bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/new_style.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-confirm.min.css">

    <script src="ckeditor/ckeditor.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: "class/session_check_h.php",
            type: "GET",
            success:function(resp){
                if(resp == false){
                    window.location.href="login.html";
                }
            }
        });


        function settext(nm){
          document.getElementById("textid").value=nm;
         if(document.getElementById(nm).value!=""){
           var res=document.getElementById(nm).value;
           CKEDITOR.instances.ed.setData(res);
          }
        }
    </script>

</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<body>

	<div id="preloader"></div>


<section class="profile-main" ng-app="myApp">
<div class="header-bar">
		
		<h3><img src="images/logo.png" width="80px"></h3>
    
    <ul class="list-unstyled" id="top_nav">
        <li>

            
              <a id="nav_button" onclick="noti_bar_view()"><span id="nos">0</span>
               <i class="fa fa-bell fa-2x"></i>
              </a>
              
            

       </li>
    
    </ul>
     <span id="mobile_bars_n"><a onclick="myf_1()"><i class="fa fa-bars fa-2x"></i></a></span>


     <div class="container-fluid" id="menu_now">
        <div class="container">
            <ul class="horizontal-navbar">
                <li><a href="profile_hospital.html">HOME</a></li>
                <li><a href="nurse_list.html">NURSE LIST</a></li>
                <li><a href="requests.html">REQUESTS LIST</a></li>
                <li class="active"><a href="post_job.html">POST A JOB</a></li>
                <li><a href="view_apply.html">APPLICATIONS</a></li>
                <!-- <li><a href="rec_interest_send.html">INTERESTS</a></li> -->
                <li><a href="edit_profile_hospital.html">MY PROFILE</a></li> 
                <li><a href="class/logout_h.php">LOGOUT</a></li>

            </ul>
         </div>
     </div>

</div>
<div class="side-nav"></div>




<div class="notification-panel" id="notification" ng-controller="notificationController">
        <header class="n-header"> NOTIFICATIONS <a onclick="close_noti()"><i style="float: right;padding-right: 10px;" class="fa fa-close"></i></a></header><br>
        <div ng-repeat="noti in notis">

            <div class="noti-msg">
                <p style="padding: 10px;"><b>{{noti.n_name}}</b> has shown interest in you</p>
                
                <div class="noti-footer">
                <span ng-switch="noti.seen">
                    <span ng-switch-when="1" >
                        <button class="btn btn-xs btn-success"><i class="fa fa-check"> Accepted</i></button>
                        <button class="btn btn-xs btn-default"  type="button" ng-click="reject_req(noti.id,$index)">Reject</button>
                    </span>
                    <span ng-switch-default>
                        <button class="btn btn-sm btn-success" type="button" ng-click="accept_req(noti.id,$index)">Accept</button>
                        <button class="btn btn-sm btn-danger" type="button" ng-click="reject_req(noti.id,$index)">Reject</button>
                    </span>
                </span>
                </div>
            </div>

            
        </div>
    </div>
<main class="main-body">
	<div class="container" style="padding: 10px 10px 10px 10px;">
                    HOME <i class="fa fa-angle-right"></i> Add Job
                    </div>
        <div class="container" style="min-height: 600px;">

        		<br>
        		<div class="row">
        			<div class="col-md-12" align="center">
        				<button class="btn" style="background-color: #26D0CE; color: white" onclick="$('#post_job_button').toggle()"><i class="fa fa-plus"> <b>Add new Job</b></i></button>
        			</div>
        		</div>
        		<div id="post_job_button">
        		<div class="row justify-content-center">
        			

        			<div class="col-md-12 p-3" align="center">
        				<div class="card">

        					<div class="card-header"><h5 style="color: #26D0CE"><b>POST</b> a job</h5></div>
						  
						  <div class="card-body p-5" align="left">

						  	<form method="post" id="f1" class="form">

						  		<input type="hidden" name="h_id" id="h_id">
						  		<div class="row">
						  			<div class="form-group col-md-4">
						  				<label>Job Title</label>
						  			</div>
						  			<div class="form-group col-md-8">
						  				<input type="text" class="form-control" name="job_title" id="job_title" placeholder="Choose a title">
						  			</div>
						  		</div>

						  		<div class="row" >
						  			<div class="form-group col-md-4">
						  				<label>Qualification Required</label>
						  			</div>
						  			<div class="form-group col-md-8">
						  				<select name="job_cat" id="job_cat" class="form-control" required>
						  					<option value="">Choose one</option>

						  				</select>
						  			</div>
						  		</div>

						  		<div class="row">
						  			<div class="form-group col-md-4">
						  				<label>Job Description</label>
						  			</div>
						  			<div class="form-group col-md-8">
						  				<input type="text" name="textid" id="textid" readonly style="display:none" value="" /> 
							          <textarea name="ed" id="ed"></textarea> 
							           <script>

							              CKEDITOR.replace( 'ed', { height:400, 
							                
							                   allowedContent: true
							                   
							              } );

							            </script>	
						  			</div>
						  		</div>

						  		<div class="row">
						  			<div class="form-group col-md-4">
						  				<label>No of Vacancies</label>
						  			</div>
						  			<div class="form-group col-md-8">
						  				<input type="number" class="form-control" name="job_no" id="job_no" placeholder="Number of vacancies">
						  			</div>
						  		</div>

						  		<div class="row">
						  			<div class="form-group col-md-4">
						  				<label>Minimum Experience</label>
						  			</div>
						  			<div class="form-group col-md-8">
						  				<input type="number" class="form-control" name="min_exp" id="min_exp" placeholder="Minimum year of Experience (in years e.g. 1.5)">
						  			</div>
						  		</div>


						  		<div class="row">
						  			<div class="form-group col-md-4">
						  				<label>Minimum Salary (Rs.)</label>
						  			</div>
						  			<div class="form-group col-md-8">
						  				<input type="text" class="form-control" name="min_sal" id="min_sal" placeholder="Minimum salary to be offered">
						  			</div>
						  		</div>

						  		<div class="row">
						  			<div class="form-group col-md-4">
						  				<label>Job Location</label>
						  			</div>
						  			<div class="form-group col-md-8">
						  				<input type="text" class="form-control" name="job_location" id="job_location" placeholder="Job location (Name of the city)">
						  			</div>
						  		</div>
						    
						  </div>
						  <div class="card-footer">
						  <button class="btn btn-primary" type="submit">Submit Job</button>
						  <button class="btn btn-danger" type="reset">Reset</button>
						</div>
						</form>
						</div>
        			</div>       			

        		</div>
        	</div>

        		<hr>
        		<div class="container">
        			<div class="row" >
        				<div class="col-12"><span class="pull-right"><ul id="pagination-demo" class="pagination-sm"></ul></span></div>
        			</div>
        		</div>
        		<br>
        		
	        		<div id="job_list">
		        		   			

	        		</div>





       	</div>

       	<!-- Modal for edit -->


       	<div class="modal fade" id="edit_job_modal">
		  <div class="modal-dialog modal-lg modal-dialog-centered">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Edit Job</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
		      	<form method="post" id="f2" class="form">
		       <div id="edit_job_modal_body"></div>
		      </div>

		      <!-- Modal footer -->
		      <div class="modal-footer">
		        <button type="submit" class="btn btn-primary">Update</button>
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      </div>
		  	</form>

		    </div>
		  </div>
		</div>



		<!-- Modal for delete -->


		<div class="modal fade" id="edit_job_modal">
		  <div class="modal-dialog modal-lg modal-dialog-centered">
		    <div class="modal-content">

		      <!-- Modal Header -->
		      <div class="modal-header">
		        <h4 class="modal-title">Edit Job</h4>
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>

		      <!-- Modal body -->
		      <div class="modal-body">
		      	<form method="post" id="f2" class="form">
		       <div id="edit_job_modal_body"></div>
		      </div>

		      <!-- Modal footer -->
		      <div class="modal-footer">
		        <button type="submit" class="btn btn-primary">Update</button>
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		      </div>
		  	</form>

		    </div>
		  </div>
		</div>



</main>

</section>
	<div class="overlay"></div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/anime.min.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<script src="js/wow.js"></script>
<script src="js/mdb.js"></script>
<script src="js/custom.js"></script>
<script src="js/jquery.pagination.js"></script>
<script src="js/jquery-confirm.min.js"></script>
<script src="js/custom_scrollbar.min.js"></script>

<script type="text/javascript">

	$(document).ready(function () {

		

            $.ajax({
                url: "php/menu_h_new.php",
                type: "POST",
                data:{
                    "n" : 2
                },
                success:function(resp){
                    $(".side-nav").html(resp);
                }
            });

		$("#post_job_button").hide();




                

                //populate jobcat

                $.ajax({
		            	url: "php/get_job_cat.php",
		            	success:function(resp){

		            		resp = JSON.parse(resp);

		            		option = "";
		            		 
		            		 for(var i=0;i<resp.length;i++){
		            		 	option += '<option value="'+ resp[i][0] + '">' + resp[i][1] + '</option>';
		            		 }

		            		 $("#job_cat").html(option);
		            	}
		            }); 
                    
             	

             	//pagination

             	$('#pagination-demo').twbsPagination({
			        totalPages: 10,
			        visiblePages: 3,
			        onPageClick: function (event, page) {
			            show_job_list(page);
			        }
			    });



			    function count_notifications(){
                $.ajax({
                    url: "php/count_notifications_rec.php",
                    type: "GET",
                    success:function(resp){
                        $("#nos").html(resp);
                    }
                });
            }



            count_notifications();

                



        });        

	
		$("#f1").submit(function(event){

			event.preventDefault();

			for (var i in CKEDITOR.instances) {
	        	CKEDITOR.instances[i].updateElement();
	    	}

			var t = $("#f1").serialize();

			$.ajax({
				url: "php/post_a_job.php",
				type: "POST",
				data: t,
				success:function(resp){
					show_job_list(1);
					$.alert("Succesfully Posted");
					$("#f1")[0].reset();
				},
				error:function(resp){
					alert(resp);
				}
			});

		});	


		$("#f2").submit(function(event){

			event.preventDefault();

			for (var i in CKEDITOR.instances) {
	        	CKEDITOR.instances[i].updateElement();
	    	}

			var t = $("#f2").serialize();

			$.ajax({
				url: "php/edit_post_a_job.php",
				type: "POST",
				data: t,
				success:function(resp){
					show_job_list(1);
					$.alert("Succesfully Updated");
					$('#edit_job_modal').modal('toggle');
					//alert(resp);
				},
				error:function(resp){
					alert(resp);
				}
			});

		});	


		function show_job_list(n){

			$.ajax({
				url: "php/show_jobs.php",
				type: "POST",
				data: {
					"n" : n,
				},
				success:function(resp){
					$("#job_list").html(resp);
				},
				error:function(resp){
					alert(resp);
				}
			});

		} 


		function edit_job(n){
			$.ajax({
				url: "php/edit_job.php",
				type: "POST",
				data: {
					"n" : n,
				},
				beforeSend: function(){
					$("#edit_job_modal_body").html('<h5>Loading . . . .</h5>');
				},
				success:function(resp){
					$("#edit_job_modal_body").html(resp);
				},
				error:function(resp){
					alert(resp)
				}
			});
		}


	function delete_job(n){

		$.confirm({
		    title: 'Are you sure?',
		    buttons: {
		        confirm: function () {
		            $.ajax({
		            	url: "php/delete_job.php",
		            	type: "POST",
		            	data: {
		            		"n" : n,
		            	},
		            	success:function(resp){
		            		show_job_list(1);
		            		$.alert("Succesfully deleted");
		            	},
		            	error:function(resp){
		            		alert(resp);
		            	}
		            });
		        },
		        cancel: function () {
		            
		        },
		    }
		});

	}



//ckeditor

	function show_txt(){ 
 document.getElementById("txt").value= document.getElementById("txtedit").innerHTML;
}


function text_heading(){
    var op=$( '.text_heading' ).val();
  var highlight = window.getSelection();
  var rep=""; var tg="";
  if(op=="norm"){ 
  if(highlight== $("H1:contains("+ highlight +")").text())
  { tg="H1";   rep="go123</H1>"+highlight+"<H1>go123";
  }else if(highlight== $("H2:contains("+ highlight +")").text())
  { tg="H2";  rep="go123</H2>"+highlight+"<H2>go123";
  }else if(highlight== $("H3:contains("+ highlight +")").text())
  { tg="H3";   rep="go123</H3>"+highlight+"<H3>go123";
  }else if(highlight== $("H4:contains("+ highlight +")").text())
  { tg="H4";   rep="go123</H4>"+highlight+"<H4>go123";
  }else if(highlight== $("H5:contains("+ highlight +")").text())
  { tg="H5";   rep="go123</H5>"+highlight+"<H5>go123";
  }else if(highlight== $("H6:contains("+ highlight +")").text())
  { tg="H6";   rep="go123</H6>"+highlight+"<H6>go123";
  }
    
  // rep="</H1>"+highlight+"<H1>";
  var text = $('.textEditor').html(); 
    $('.textEditor').html(text.replace(highlight, rep));
  if(tg=='H1'){
  $("H1:contains('go123')").remove();
  }if(tg=='H2'){
  $("H2:contains('go123')").remove();
  }if(tg=='H3'){
  $("H3:contains('go123')").remove();
  }if(tg=='H4'){
  $("H4:contains('go123')").remove();
  }if(tg=='H5'){
  $("H5:contains('go123')").remove();
  }if(tg=='H6'){
  $("H6:contains('go123')").remove();
  }
   placeCaretAtEnd($('.textEditor').get(0));
  }else{ if(op=="h1"){
      rep = '<H1>'+highlight+'</H1>';
  }else if(op=="h2"){
    rep = '<H2>'+highlight+'</H2>';
  }else if(op=="h3"){
    rep = '<H3>'+highlight+'</H3>';
  }else if(op=="h4"){
    rep = '<H4>'+highlight+'</H4>';
  }else if(op=="h5"){
    rep = '<H5>'+highlight+'</H5>';
  }else if(op=="h6"){
    rep = '<H6>'+highlight+'</H6>';
  }
  if(op!=""){ 
  var text = $('.textEditor').html(); 
  
    $('.textEditor').html(text.replace(highlight, rep));
   placeCaretAtEnd($('.textEditor').get(0));
  }
  }
  
}
function bld(){
     document.execCommand('bold');
}
/*$('body').on('click','.embolden',function(){
    document.execCommand('bold');
});*/
function itlc(){
    document.execCommand('italic');
}
function undr(){
    document.execCommand('underline');
}

function unordr(){
    var span = '<br/><ul><li></li></ul>';
  $('.textEditor').append(span);
   placeCaretAtEnd($('.textEditor').get(0));
}

function ordr(){
    var span = '<br/><ol><li></li></ol>';
  $('.textEditor').append(span);
   placeCaretAtEnd($('.textEditor').get(0));
}
function placeCaretAtEnd(el) {
    el.focus();
    if (typeof window.getSelection != "undefined"
            && typeof document.createRange != "undefined") {
        var range = document.createRange();
        range.selectNodeContents(el);
        range.collapse(false);
        var sel = window.getSelection();
        sel.removeAllRanges();
        sel.addRange(range);
    } else if (typeof document.body.createTextRange != "undefined") {
        var textRange = document.body.createTextRange();
        textRange.moveToElementText(el);
        textRange.collapse(false);
        textRange.select();
    }
}

function indent(){
  var highlight = window.getSelection();
   var txt='<span style ="padding-left:30px;">'+ highlight+ '</span>';
  var text = $('.textEditor').html();
    $('.textEditor').html(text.replace(highlight, txt));
  //window
}
function outdent(){
  var highlight = window.getSelection();
   var txt='<span style="margin-left:-30px;">'+ highlight+ '</span>';
  var text = $('.textEditor').html();
    $('.textEditor').html(text.replace(highlight, txt));
  //window
}
function link(){
  var highlight = window.getSelection();
    var span = '<a href="'+highlight+'" style="color:#03F">'+highlight+'</a>';
  var text = $('.textEditor').html();
    $('.textEditor').html(text.replace(highlight, span));
   placeCaretAtEnd($('.textEditor').get(0));
}
		



		var app = angular.module('myApp',['notification']);

var notification = angular.module('notification',[]);
notification.controller('notificationController',function($scope,$http,$interval){
    $scope.loadData = function(){
        $http.get('php/interested_lists_rec.php').then(function mySuccess(resp){
            $scope.notis = resp.data;
        },function myError(resp){
            console.log("Notification Panel Error: "+resp.statusText)
        });
    }


    $scope.loadData(); //initial load


    var refreshDiv = function(){$scope.loadData();count_notifications();}

    $interval(refreshDiv,10000);
    //realtime refresh 


    $scope.remove = function(index){
        $scope.notis.splice(index,1);
        count_notifications();
    }


    $scope.accept_req = function(id,index){
        change_req(id,'1');
        $scope.notis.splice(index,1);
        count_notifications();
    }

    $scope.reject_req = function(id,index){
        change_req(id,'2');
        $scope.notis.splice(index,1);
        count_notifications();
    }
})


function noti_bar_view(){
        $(".notification-panel").css('right','0px');
    }

    function close_noti(){
        $(".notification-panel").css('right','-100vw');
    }



    function change_req(m,n){
        $.ajax({
            url: "php/change_req_rec.php",
            type: "POST",
            data:{
                "id" : m,
                "seen": n
            },
            success:function(resp){
                return true;
            }

        });
    }


    function count_notifications(){
                $.ajax({
                    url: "php/count_notifications_rec.php",
                    type: "GET",
                    success:function(resp){
                        $("#nos").html(resp);
                    }
                });
            }

            function myf_1(){
                $('.side-nav').css({
                    left: '0px',
                });

                $('#mobile_bars_n').html('<a onclick="myf_2()"><i class="fa fa-close fa-2x"></i></a>');
            }


            function myf_2(){
                $('.side-nav').css({
                    left: '-400px',
                });

                $('#mobile_bars_n').html('<a onclick="myf_1()"><i class="fa fa-bars fa-2x"></i></a>');
            }

</script>
</html>