<div><div id="msg"></div>
        		<div class="application-card" ng-repeat="p in person">
        			<div class="row p-3">
        				
        			<div class="card col-md-12" style="box-shadow: 1px 1px 20px rgba(0,0,0,0.1)">
					  <div class="card-body">
					  	
					  	<div class="row">
					  		<div class="col-md-10 col-sm-12 col-xs-12">
					  			
					  			<table width="100%">
					  				<tr valign="top">
					  					<td width="10%" >Name:</td>
					  					<td width="30%">{{p.n_name}}</td>
					  					<td width="5%">For:</td>
					  					<td width="50%">{{p.cat_des}}</td>
					  				</tr>
					  				<tr>
					  					<td width="10%">Applied on:</td>
					  					<td width="30%">{{p.time_stamp1}}</td>
					  					<td width="10%">Job title</td>
					  					<td width="50%">{{p.job_title}}</td>
					  				</tr>

					  				<tr>
					  					<td width="10%">Resume:</td>
					  					<td width="30%">
					  						<a href="{{p.resume}}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-download"> Resume</i></button></a></td>
					  					<td width="10%">License:</td>
					  					<td width="30%">
					  						<a href="{{p.slicense}}"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-download"> License</i></button></a>
					  					</td>
					  				</tr>
					  			</table>


					  		</div>
					  		<div class="col-md-2 col-sm-12">
					  			<br/>
					  			<table width="100%">
					  				<tr>
					  					<td><button style="width: 100%" class="btn btn-default btn-sm" ng-click="change_status(p.apply_id,'1')">Shortlisted</button></td>
					  				</tr>
					  				<tr>
					  					<td><button style="width: 100%" class="btn btn-success btn-sm" ng-click="change_status(p.apply_id,'2')">Accept</button></td>
					  				</tr>
					  				<tr>
					  					<td><button style="width: 100%" class="btn btn-danger btn-sm" ng-click="change_status(p.apply_id,'3')">Reject</button></td>
					  				</tr>
					  			</table>
					  		</div>

					  		<div class="col-md-12 col-sm-12">
					  			<br/>
					  			<a href="tel:{{p.n_phn}}"><button class="btn btn-sm"><i class="fa fa-phone"> Make a call</i></button></a>
					  			<a href="mailto:{{p.n_email}}"><button class="btn btn-sm"><i class="fa fa-envelope"> Send a mail</i></button></a>
					  			<a href="skype:{{p.slink}}"><button class="btn btn-sm"><i class="fa fa-video-camera"> video call</i></button></a>

					  		</div>
					  	</div>

					  	<hr>

					  	<button class="btn btn-sm" data-toggle="collapse" data-target="#showmore_{{p.apply_id}}">Show More Details</button>


					  	<div class="collapse" id="showmore_{{p.apply_id}}"><br>
					  	<div class="row">
					  		<div class="col-8">
					  			<label>Personal details</label>
					  			<table width="100%">
					  				<tr>
					  					<td valign="top">About:</td>
					  					<td colspan="3" ng-bind-html="p.n_des | htmlToPlaintext"></td>
					  				</tr>

					  				<tr>
					  					<td>Contact No.</td>
					  					<td>{{p.n_phn}}</td>
					  					<td>Email:</td>
					  					<td>{{p.n_username}}</td>
					  				</tr>

					  				<tr>
					  					<td>City:</td>
					  					<td>{{p.city}}</td>
					  					<td>District:</td>
					  					<td>{{p.district}}, {{p.state}}</td>
					  				</tr>


					  			</table><br>

					  			
					  		</div>

					  		<div class="col-4">
					  			<img src="{{p.dp}}" width="100%">
					  		</div>
					  	</div>
					  </div>
					  		


					  	</div></div></div></div></div>

